*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 1024px;
    background-color: #F9F9F9;
}

/* menu */

.menu{
    width: 100vw;
    height: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px 0 24px;
    background-color: #FFFFFF;
}

.left {
    width: 146px;
    height: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.center{
    width: 404px;
    height: 40px;
    display: flex;
    border: 1px solid #CCCCCC;
}
.center input{
    width: 348px;
}
.center .search-icon{
    width: 57px;
    background: #F8F8F8;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #CCCCCC
}

.right{
    width: 130px;
    height: 34px;
    display: flex;
    align-items: center;
    gap: 24px;
}

/* ajustes */
.conteudo{
    width: 100vw;
    display: flex;
}

/* watching video */

.watching-video{
    width: 952px;
    height: 746px;
    position: relative;
    top: 84px;
    left: 75px;
    opacity: 0px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.watching-video h2{
    font-family: Roboto;
    font-size: 20px;
    font-weight: 600;
    line-height: 23.44px;
    text-align: left;
}

.video-actions{
    width: 902px;
    height: 42px;
    opacity: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 42px;
}

.video-actions p{
    color: black;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 600;
    line-height: 16.41px;
    text-align: left;
}

.channel-infos{
    width: 160px;
    height: 42px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
}

.channel-infos p{
    font-weight: 600;
}
.channel-infos p span{
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.41px;
    text-align: left;
}

.subscribe-button{
    width: 159px ;
    height: 40px;
    border-radius: 2px 0px 0px 0px;
    background: #CC0000;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 600;
    line-height: 16.41px;
    color: white;
    text-align: center;
    text-transform: uppercase;
}

.like{
    width: 63px;
    height:24px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.dislike{
    width: 100px;
    height:24px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.share{
    width: 115px;
    height:24px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.download{
    width: 95px;
    height:24px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.watching-video h3{
    width: 391px;
    height: 16px;
    gap: 0px;
    opacity: 0px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 600;
    line-height: 16.41px;
    text-align: left;

}

.watching-video .video-description{
    width: 510px;
    height: 64px;
    gap: 0px;
    opacity: 0px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.41px;
    text-align: left;
    color: #515151;

}

/* sidebar */

.sidebar{
    width: 368px;
    height: 938px;
    position: relative;
    top: 84px;
    left: 100px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    opacity: 0px;  
}

.video{
    display: flex;
    gap: 12px;
}

.infos{
    width: 196px;
    height: 89px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.infos h3{
    font-family: Roboto;
    font-size: 14px;
    font-weight: 600;
    line-height: 16.41px;
    text-align: left;
}

.infos p{
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 14.06px;
    text-align: left;
    color: #515151;
}

.channel-name{
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 14.06px;
    text-align: left;
    color: #515151;
}